# Altium ----------------------------------------

Sahasrara_PCB/Project*/*
Sahasrara_PCB/History/*
Sahasrara_PCB/__Previews/*

# PSOC Creator ----------------------------------------

# ignore PSoC Creator workspaces
*.cywrk

# folders generated after build (any PSoC series)

Sahasrara*/Generated_Source/*
Sahasrara*/Cortex*/*
Sahasrara*/codegentemp/*
Sahasrara*/Export/*

# Ignore files generated after project build

*.cycdx
*.cyfit
*.rpt
*.log

# Ignoring OneDrive version of project file

*cyprj.*
*cywrk.*
 